*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html,
body,
.solitaire {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.solitaire {
    width: 100%;
    height: 100%;
    background-color: green;
    position: relative;
}

.card {
    width: 71px;
    height: 96px;
    background-image: url("./spritesheet.png");
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    user-select: none;
}
.card--back {
    background-position: 0 0;
    background-repeat: repeat;
    background-position: var(--background-position-facing-down);
}
.card--front {
    cursor: pointer;
    background-position: var(--background-position-facing-up);
}
.card--moving {
    position: fixed;
    z-index: 1;
}

.deck {
    width: 250px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.deck__pile {
    width: 71px;
    height: 96px;
    top: 0;
    position: absolute;
    cursor: pointer;
    background-image: url("./spritesheet.png");
    background-position: calc(71px * -1) calc(-96px * 5);
}
.deck__pile .card + .card {
    margin-top: 4px;
    margin-left: 2px;
}
.deck__pile .card + .card + .card {
    margin-left: 4px;
    margin-top: 8px;
}
.deck__deal {
    left: 95px;
    top: 0;
    position: absolute;
}
.deck__deal .card:last-child {
    left: 20px;
}
.deck__deal .card:last-child {
    left: 20px;
}
.deck__deal .card:nth-last-child(2) {
    left: 10px;
}
.deck__deal .card:first-child {
    left: 0;
}
.deck__deal .card:first-child + .card:last-child {
    left: 10px;
}

.finish-deck {
    position: absolute;
    left: 274px;
    top: 20px;
}

.board-deck {
    position: absolute;
    top: 150px;
}
.board-deck .card--front > .card--front {
    top: 15px;
}
.board-deck .card--back > .card--front,
.board-deck .card--back > .card--back {
    top: 5px;
}

/* card cells */
.seven,
.aces {
    margin-left: 20px;
    width: 71px;
    height: 96px;
    background-image: url("./spritesheet.png");
    background-position: calc(71px * -0) calc(96px * -4);
}
/* the seven columns that cards are dealt to */
.seven {
    position: relative;
    float: left;
    top: 0;
}
/* the four cells you need to get all the cards into to win */
.aces {
    position: relative;
    float: left;
}

.finish-dest {
    box-shadow: 0 0 0 1px #03ffff;
    border-radius: 4px;
}
