*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html,
body,
.solitaire {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.solitaire {
    width: 100%;
    height: 100%;
    background-color: green;
    position: relative;
}

.card {
    width: 71px;
    height: 96px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    border: 1px solid #000;
    border-radius: 4px;
    user-select: none;
    margin: -1px;
    box-shadow: 1px -1px 0px #000;
}
.card--back {
    background-position: 0 0;
    background-repeat: repeat;
    background-color: #02027f;
    background-size: 4px 4px;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 44.9%, white 45%, white 55%, rgba(255, 255, 255, 0) 55.1%, rgba(255, 255, 255, 0)), linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 44.9%, white 45%, white 55%, rgba(255, 255, 255, 0) 55.1%, rgba(255, 255, 255, 0));
}
.card--front {
    cursor: pointer;
}
.card--moving {
    position: fixed;
    z-index: 1;
}

.deck {
    width: 250px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.deck__pile {
    width: 71px;
    height: 96px;
    top: 0;
    position: absolute;
    border: 1px dotted;
    border-radius: 4px;
    cursor: pointer;
    background-image: radial-gradient(green 30%, white 30.1%, white 40%, green 40.1%, green 100%);
    background-size: 90px 90px;
    background-position: center;
    background-repeat: no-repeat;
}
.deck__pile .card + .card {
    margin-top: 4px;
    margin-left: 2px;
}
.deck__pile .card + .card + .card {
    margin-left: 4px;
    margin-top: 8px;
}
.deck__deal {
    left: 95px;
    top: 0;
    position: absolute;
}
.deck__deal .card:last-child {
    left: 20px;
}
.deck__deal .card:last-child {
    left: 20px;
}
.deck__deal .card:nth-last-child(2) {
    left: 10px;
}
.deck__deal .card:first-child {
    left: 0;
}
.deck__deal .card:first-child + .card:last-child {
    left: 10px;
}

.finish-deck {
    position: absolute;
    left: 274px;
    top: 20px;
}

.board-deck {
    position: absolute;
    top: 150px;
}
.board-deck .card--front > .card--front {
    top: 15px;
}
.board-deck .card--back > .card--front,
.board-deck .card--back > .card--back {
    top: 5px;
}

/* seven deck */
.seven {
    position: relative;
    float: left;
    width: 71px;
    top: 0;
    margin-left: 20px;
    height: 96px;
    border: 1px dotted;
    border-radius: 4px;
}

.aces {
    width: 71px;
    position: relative;
    margin-left: 20px;
    height: 96px;
    border: 1px dotted;
    border-radius: 4px;
    float: left;
    background-size: 4px 4px;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 44.9%, black 45%, black 55%, rgba(0, 0, 0, 0) 55.1%, rgba(0, 0, 0, 0)), linear-gradient(-45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 44.9%, black 45%, black 55%, rgba(0, 0, 0, 0) 55.1%, rgba(0, 0, 0, 0));
}

.finish-dest {
    box-shadow: 0 0 0 1px #03ffff;
}
