body {
	display: flex;
	flex-direction: column;
	background: var(--ButtonFace);
	color: var(--ButtonText);
	font-family: sans-serif;
	font-size: 10pt;
}
#address-bar,
.toolbar {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
	padding: 5px;
	align-items: center;
}
#address-compound-input {
	background: var(--Window);
	color: var(--WindowText);
	flex: 1;
	display: flex;
}
#address-icon {
	display: inline-block;
	margin-right: 4px;
	margin-left: 1px;
	align-self: center;
}
#address {
	flex: 1;
	background: transparent;
	color: inherit;
	border: 0;
	outline: 0;
	padding: 0;
}
#address-dropdown-button {
	width: 17px;
	height: 19px;
	padding: 0;
}
label[for="address"] {
	margin-right: 5px;
}

button {
	padding: 5px;
}
.toolbar button:not(#view-menu-button) {
	width: 55px;
	height: 40px;
	padding: 0;
	font-size: 12px;
	line-height: 12px;
}
.toolbar button .label-text {
	margin-top: 24px;
}
#view-menu-button {
	padding: 0;
	width: 10px;
	line-height: 30px;
}
.toolbar button {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.toolbar button .icon {
	width: 20px;
	height: 20px;
	position: absolute;
}
.toolbar button .icon {
	background-image: url("../../images/browse-ui-icons-grayscale.png");
}
.toolbar button:not([disabled]):hover .icon {
	background-image: url("../../images/browse-ui-icons.png");
}
.toolbar button[disabled] .icon {
	filter: saturate(0%) opacity(50%); /* fallback */
	filter: url("#disabled-inset-filter");
}

#status-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 2px;
	gap: 2px;
}
#status-bar > * {
	height: 16px;
	white-space: nowrap;
	overflow: hidden;
	pointer-events: none;
	user-select: none;
}
#status-bar-left {
	width: 250px; /* estimated */
}
#status-bar-middle {
	flex: 1;
}
#status-bar-right {
	width: 170px; /* estimated */
	display: flex;
	gap: 3px;
}

#content {
	flex: 1;
	display: flex;
	background: var(--Window);
	color: var(--WindowText);
}
#content iframe {
	flex: 1;
}
.desktop-icon .title {
	/* background: transparent; */
	/* mix-blend-mode seems to need a background (for the dotted focus effect) */
	background: var(--Window);
	color: var(--WindowText);
}
