body {
  background: #fff;
  font-weight: 100;
  max-width: 50em;
  margin: 0 auto;
}

div:focus {
  outline: none;
}

#header {
  font-size: 48px;
  padding-top: 30px;
}

#content {
  padding-top: 10px;
  font-size: 24px;
}
