body		{font: 8pt/10pt verdana; margin: 0}
#FileList	{position: absolute; left: 30%; width: 70%; height: 100%}
#Media		{margin-left: 15px}
#Panel		{position: absolute; width: 30%; height: 100%; overflow: auto}
#PieChart	{width: 100px; height: 50px; margin-top: 10px}
#Thumbnail	{width: 160px; height: 160px; margin-top: 0px}
#Status		{margin-left: 15px}
#Brand		{position: absolute; left: 30%; width: 70%; height: 100%; overflow: auto}
p		{margin-left: 15px; margin-top: 15px; margin-right: 15px}
p.Title		{font: 16pt; font-weight: bold; margin-top: 5px}
p.LogoLine	{margin-left: 0; margin-top: -5px; margin-right: 0; margin-bottom: 20px}
p.Warning	{font-weight: bold; color: red}
p.Links		{margin-top: 5px}
a.Command	{font-weight: bold}
div.Release     {width: 160px; text-align: right; background: buttonface; padding: 0px, 8px, 4px, 8px}
